

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menubut">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link" aria-current="page" id="mainButton2"  (click)="goHome()"><i
            class="bi bi-house-fill me-2"></i>Início</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active red" id="aboutMeButton" (click)="goPerfil()"><i class="bi bi-people-fill me-2"></i>Perfil</a>
        </li>
        <!--          <li class="nav-item rounded">-->
        <!--            <a class="nav-link" id="geracaoButton"><i class="bi bi-telephone-fill me-2"></i>Geração Manhique</a>-->
        <!--          </li>-->
        <li class="nav-item rounded">
          <a class="nav-link" id="projectoButton" (click)="goPilares()"><i class="bi bi-telephone-fill me-2"></i>Pilares</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="contactoButton" (click)="goRedes()"><i class="bi bi-telephone-fill me-2"></i>Redes Sociais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="aboutMePage" >
  <div class="row paddingTop ">
    <div class="col-xl-4 col-lg-5 paddingTop perfilImage"><img
      src="/assets/Rasaque%20Manhique.png"
      alt="Nature"
      class="responsive responsiveThree"
      style="border: 1px #2d2d2d solid!important;"
      preload="auto"
    /></div>
    <div class="col-xl-8 col-lg-7">
      <div class="aboutTextRow">
        <div class=" paddingTop text-first">
          <p>
            <strong>Rasaque Silvano Manhique</strong> é membro do Comité Central da FRELIMO, político, jurista de
            profissão e mestrando
            em Comércio Internacional pela Escola de Negócios Europeus de Barcelona. <br>
            Nascido numa família humilde, no ano de 1982, na Cidade de Maputo, pai de dois filhos, ainda em tenra
            idade, Rasaque Silvano Manhique ajudava os pais nos trabalhos domésticos e de sustento familiar, o que faz
            dele um membro presente na família. <br>
            Iniciou a sua actividade empreendedora no Sector Informal, mais concretamente no Mercado Malanga, vendendo
            produtos em pequena escala, tendo atingido o nível de fornecedor para os demais revendedores. <br>
            Estudou na Escola Primária Guerra Popular na Cidade de Maputo e depois frequentou a Escola Secundária da
            Polana.
          <p class="thisText"> Em 1997, Rasaque Silvano Manhique abraça o Ensino Técnico Profissional, frequentando
            a Escola Comercial de Maputo e, em simultâneo, dava aulas de apoio aos alunos do Eensino Pprimário, como
            forma de sustento para a sua formação académica.
            Rasaque Silvano Manhique entra para o mundo profissional como Auxiliar de Contabilidade, em 2002.
          </p>

        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="aboutTextRow">
        <div class="">
          <p>
          <p class="thisText2"> Em 1997, Rasaque Silvano Manhique abraça o Ensino Técnico Profissional, frequentando
            a Escola Comercial de Maputo e, em simultâneo, dava aulas de apoio aos alunos do Eensino Pprimário, como
            forma de sustento para a sua formação académica.
            Rasaque Silvano Manhique entra para o mundo profissional como Auxiliar de Contabilidade, em 2002.</p>

          Dois anos depois, em 2004, colabora como Contabilista na MS e Filhos, uma empresa vocacionada à
          venda e distribuição de material de escritório. Mais tarde, é designado Chefe de Departamento de Compras e
          Vendas na mesma empresa. Em 2006, Rasaque Silvano Manhique é transferido, pelo mesmo grupo, para a Empresa
          EAGOPEC, Empreendimentos Agropecuários Comércio e Serviços (EAGOPEC), como Chefe de Departamento de Compras
          e Vendas de produtos ligados à cadeia agrícola.
          <br>

          Em 2008, Rasaque Manhique é contratado pela TECNICOL como Contabilista. Contribuiu na reestruturação dos
          Pacotes de Formação da TECNICOL, tornando-os mais acessíveis aos jovens. Meses mais tarde, é convidado
          para assumir a pasta de Director Administrativo. <br>
          Ainda no domínio de formação técnico-profissional, Rasaque Silvano Manhique destacou-se, enquanto
          formador, na capacitação de jovens no Instituto Nacional de Emprego e Formação Profissional (INEFP),
          actualmente designado IFPELAC. <br>
          Em 2009, Rasaque Silvano Manhique assume as funções de Director Financeiro na Mobile Sony Erickson
          Moçambique – Botswana. <br>
          Em 2010, foi Assessor na Federação Moçambicana de Futebol e, mais tarde, convidado a desempenhar as
          funções de Director da Academia Mário Esteves Coluna, onde contribuiu para a formação de vários jovens
          futebolistas para a alta competição. <br>
          Exerceu, de 2013 a 2015, as funções de Assessor do Conselho de Administração do Hospital Privado de Maputo.
          <br>
          Rasaque Silvano Manhique sempre esteve preocupado com o bem-estar do próximo e melhoria de vida dos
          cidadãos, por isso, entre 2000 e 2020, exprimiu a sua opinião através de artigos publicados no Jornal
          Notícias sobre vários assuntos de índole político, social e económico. Nos seus textos abordava os
          problemas de forma frontal e aberta, propondo possíveis soluções para os mesmos. <br>
          Rasaque Silvano Manhique é trabalhador, integro, humilde, exigente e honesto. Privilegia o amor ao próximo,
          inclusão e como servidor público, a boa governação. <br>
          Desde cedo, demonstrou interesse na política e no serviço público, ingressando nas fileiras do Partido
          FRELIMO, através da Organização da Juventude Moçambicana (OJM). <br>

          Na vida Política, Rasaque Silvano Manhique assumiu as seguintes funções: <br>
          (i) Primeiro Secretário do Comité da FRELIMO na Cidade de Maputo; <br>
          (ii) Vice-presidente da Assembleia Municipal de Maputo; <br>
          (iii) Chefe da Bancada da FRELIMO na Assembleia Municipal de Maputo.
          Enquanto Vice-Presidente da Assembleia Municipal, Rasaque Silvano Manhique promoveu e dinamizou a cooperação
          inter-municipal e internacional entre a Assembleia Municipal de Maputo e suas demais congéneres. <br>
          A experiência política de Rasaque Silvano Manhique na Gestão Autárquica Municipal faz dele um exímio
          conhecedor dos problemas que os munícipes de Maputo enfrentam. Conhece Maputo como a palma da mão. Na
          qualidade de Primeiro Secretário do Comité da FRELIMO na Cidade de Maputo, Rasaque Silvano Manhique
          palmilhou todos os sete (07) Distritos Municipais da Capital do país. Reuniu regularmente com os munícipes
          para
          ouvir as suas preocupações e com vista a propor as melhores soluções ao executivo municipal. <br>

          Como político, Rasaque Silvano Manhique, rapidamente, destacou-se pela sua dedicação incansável e
          capacidade de construir consensos dentro do Partido FRELIMO. Respeita as diferenças políticas e de
          pensamento. Busca sempre convergência e harmonia dentro de diferentes grupos, apostando na melhoria das
          condições de trabalho dos colaboradores.<br>
          No domínio do Associativismo Juvenil, foi Presidente do Conselho Fiscal no Conselho da Juventude, órgão
          interlocutor entre a Juventude e o Governo. <br>

          Em 2019, foi Director de Campanha da FRELIMO na Cidade de Maputo. <strong>Hoje, é Cabeça de Lista da
          FRELIMO na Cidade de Maputo para as VI Eleições Autárquicas de 2023.</strong>


          <hr/>
        </div>
        <div id="carouselExampleAutoplaying2" class="carousel slide text-center" data-bs-ride="carousel"
             style="margin: 0!important;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <img
                  src="./assets/B79A0238.jpg"
                  alt=""
                  class="responsiveTwo"
                  preload="auto"
                />
                <!--            <p><i>Funções de Primeiro Secretario da FRELIMO na Cidade de Maputo</i></p>-->
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <img src="./assets/B79A7786.jpg" alt="" class="responsiveTwo" preload="auto"/>
                <!--            <p><i>Vice Presidente da Assembleia Municipal de Maputo</i></p>-->
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <img src="./assets/B79A8957.jpg" alt="" class="responsiveTwo" preload="auto"/>
                <!--            <p><i>Funções de Chefe da Bancada da FRELIMO na Assembleia Municipal</i></p>-->
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <img src="./assets/B79A9658.jpg" alt="" class="responsiveTwo" preload="auto"/>
                <!--            <p><i>Funções de Diretor da Academia Mário Coluna</i></p>-->
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <img src="./assets/B79A9705.jpg" alt="" class="responsiveTwo" preload="auto"/>
                <!--            <p><i>Assessor do Conselho de Administração do Hospital Privado de Maputo</i></p>-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">

  </div>
  <br>


  <!--  <div class="container">-->
  <!--    <div class="imagesrc">-->
  <!--      <img src="./assets/sobre.png" alt="Nature"-->
  <!--           class="responsivefour">-->
  <!--    </div>-->
  <!--    <div class="aboutTextRow">-->
  <!--      <p>Eu chamo-me <strong>Silvano Manhique</strong> Venho de uma família humilde mais com fortes princípios e valores-->
  <!--        que nortearam o meu percurso até ao presente momento.-->
  <!--        Tudo o que sou e vivo hoje, devo em primeiro lugar a DEUS e a minha família, em particular aos meus progenitores-->
  <!--        que como disse anteriormente, foram eles que nortearam todo o meu percurso como pessoa.-->
  <!--        <br>Para além da minha formação académica e a minha <strong>humilde</strong> experiência profissional e política-->
  <!--        carrego comigo uma história e experiência de vida apaixonante como de muitos que estão neste campo.-->

  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class=" paddingTop">-->
  <!--    <div class="aboutTextRow">-->
  <!--      <p>-->
  <!--        <strong>Camaradas:</strong> agradeço pela confiaça em mim depositada e quero manifestar a minha total-->
  <!--        disponibilidade em tudo fazer para honrar e manter bem alto a governação da nossa FRELIMO ao serviço dos nossos-->
  <!--        munícipes!-->
  <!--        Com nosso trabalho, vamos tornar Maputo numa cidade <strong>de oportunidades sociais, económicas, equilibrios-->
  <!--        culturais e ambientais e sempre próspera!</strong>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
</section>
