

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menubut">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link" aria-current="page" id="mainButton2"  (click)="goHome()"><i
            class="bi bi-house-fill me-2"></i>Início</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="aboutMeButton" (click)="goPerfil()"><i class="bi bi-people-fill me-2"></i>Perfil</a>
        </li>
        <!--          <li class="nav-item rounded">-->
        <!--            <a class="nav-link" id="geracaoButton"><i class="bi bi-telephone-fill me-2"></i>Geração Manhique</a>-->
        <!--          </li>-->
        <li class="nav-item rounded">
          <a class="nav-link active red" id="projectoButton" (click)="goPilares()"><i class="bi bi-telephone-fill me-2"></i>Pilares</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="contactoButton" (click)="goRedes()"><i class="bi bi-telephone-fill me-2"></i>Redes Sociais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="projectoPage" class=" alignBottom ">
  <br/>
  <div class="projectTitle center">
    <p>Pilares do Programa de Governação da FRELIMO para o Quinquénio 2024 -2029</p>
    <hr/>
  </div>

  <br/>
  <div class="wrapper">
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/6-B79A5029.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Boa Governaçāo</h2>
        <p class="blog-description">
          • Descentralização <br>
          • Combate à Corrupção <br>
          • Combate à Criminalidade <br>
          • Governação Participativa e Inclusiva <br>
          • Gestão e Sustentabilidade Financeira da Autarquia

        </p>


      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/7-B79A5049.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Desenvolvimento Social e Humano</h2>
        <p class="blog-description">
          • Saúde <br>
          • Educação <br>
          • Mulher, Juventude, Inclusão e Protecção Social <br>
          • Cultura, Desporto e Recreação

        </p>


      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/8-B79A6540.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Desenvolvimento Económico e Promoção do Emprego </h2>
        <p class="blog-description">
          • Inovação e Empreendedorismo <br>
          • Indústria e Comércio <br>
          • Turismo <br>
          • Agricultura <br>
          • Pecuária <br>
          • Pescas <br>


        </p>


      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/9-B79A5657.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Desenvolvimento de Infraestruturas Económicas, Sociais e Prestação de serviços básicos
          aos Munícipes
        </h2>
        <p class="blog-description">
          • Estradas (Rede Viária) <br>
          • Transportes e Comunicação <br>
          • Energia <br>
          • Edifícios Administrativos <br>
          • Mercados e Feiras <br>
          • Cemitérios <br>

        </p>


      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/10-B79A5686.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Gestão Sustentável do Solo Urbano </h2>
        <p class="blog-description">
          • Planos de Ordenamento Territorial <br>
          • Reservas Municipais <br>
          • Espaços Públicos <br>
          • Ambiente


        </p>


      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img
          class="banner-img"
          src="./assets/11-B79A3879.jpg"
          alt=""
          preload="auto"
        />
      </div>
      <div class="card-body">
        <h2 class="blog-title">Cooperação Intermunicipal e Internacional</h2>
        <p class="blog-description">


        </p>


      </div>
    </div>
  </div>
  <div class="centralize-video">
    <p></p>
    <div class="embedPlayer">
      <div class="player">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/DtSRyN-THrE?si=PaygxC1LB09R5zfz"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
