

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menubut">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link" aria-current="page" id="mainButton2"  (click)="goHome()"><i
            class="bi bi-house-fill me-2"></i>Início</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="aboutMeButton" (click)="goPerfil()"><i class="bi bi-people-fill me-2"></i>Perfil</a>
        </li>
        <!--          <li class="nav-item rounded">-->
        <!--            <a class="nav-link" id="geracaoButton"><i class="bi bi-telephone-fill me-2"></i>Geração Manhique</a>-->
        <!--          </li>-->
        <li class="nav-item rounded">
          <a class="nav-link" id="projectoButton" (click)="goPilares()"><i class="bi bi-telephone-fill me-2"></i>Pilares</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active red" id="contactoButton" (click)="goRedes()"><i class="bi bi-telephone-fill me-2"></i>Redes Sociais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="contactoPage" class=" ">
  <div class=" row paddingTop2 ">
    <div class="containerr col-lg-12">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <a
              href="https://www.facebook.com/people/Rasaque-Manhique/61550574983594/?paipv=0&eav=AfbS8kbyq5wAh9aECFrLwQyaHGtoZKsYE3BZ4fgxV_m18EXZSdusQESebLKKgZm3-ow&_rdr"
              target="_blank"><i class="fab fa-facebook-f"></i></a>

            <div class="topic">Facebook</div>
            <div class="text-one"><a
              href="https://www.facebook.com/people/Rasaque-Manhique/61550574983594/?paipv=0&eav=AfbS8kbyq5wAh9aECFrLwQyaHGtoZKsYE3BZ4fgxV_m18EXZSdusQESebLKKgZm3-ow&_rdr"
              target="_blank">Frelimo Cidade de Maputo</a></div>

          </div>
          <div class="phone details">

            <a href="https://www.instagram.com/rasaquemanhique/" target="_blank"><i class="fab fa-instagram"></i></a>
            <div class="topic">Instagram</div>
            <div class="text-one"><a href="https://www.instagram.com/rasaquemanhique/" target="_blank">Rasaque
              Manhique</a></div>
          </div>
          <div class="email details">
            <a href="https://www.youtube.com/@RasaqueManhique" target="_blank"><i class="fab fa-youtube"></i></a>
            <div class="topic">Youtube</div>
            <div class="text-one"><a href="https://www.youtube.com/@RasaqueManhique" target="_blank">Rasaque
              Manhique</a></div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Redes Sociais</div>
          <!--            <br>-->
          <p></p>
          <div class="embedPlayer2">
            <div class="player2">
              <iframe id="ifr"

                      src="https://www.youtube.com/embed/tKvRfIUNDj8?si=bCTJiu7KN5w2Ns6N"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
              ></iframe>
            </div>
          </div>
          <!--            <form action="#">-->
          <!--              <div class="input-box">-->
          <!--                <input type="text" placeholder="Nome">-->
          <!--              </div>-->
          <!--              <div class="input-box">-->
          <!--                <input type="text" placeholder="Email">-->
          <!--              </div>-->
          <!--              <div class="input-box message-box">-->
          <!--                <input type="text" placeholder="Mensagem">-->
          <!--              </div>-->
          <!--              <div class="button">-->
          <!--                <input type="button" value="Enviar">-->
          <!--              </div>-->
          <!--            </form>-->
        </div>
      </div>
    </div>
  </div>

</section>
