
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menubut">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active red" aria-current="page" id="mainButton2"  (click)="goHome()"><i
            class="bi bi-house-fill me-2"></i>Início</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="aboutMeButton" (click)="goPerfil()"><i class="bi bi-people-fill me-2"></i>Perfil</a>
        </li>
        <!--          <li class="nav-item rounded">-->
        <!--            <a class="nav-link" id="geracaoButton"><i class="bi bi-telephone-fill me-2"></i>Geração Manhique</a>-->
        <!--          </li>-->
        <li class="nav-item rounded">
          <a class="nav-link" id="projectoButton" (click)="goPilares()"><i class="bi bi-telephone-fill me-2"></i>Pilares</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" id="contactoButton" (click)="goRedes()"><i class="bi bi-telephone-fill me-2"></i>Redes Sociais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="homePage" class="">
  <!--

Home Image

-->
  <!--  <div class="">-->
  <!--    <img src="./assets/pagina-inicial.jpg" alt="Nature" class="responsive"/>-->
  <!--  </div>-->
  <div class=" " style="overflow: hidden">

    <div id="carouselExampleAutoplaying" class=" carousel slide" data-bs-ride="carousel" style="margin: 0!important;">
      <div class=" carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/1-B79A6174.jpg" class="d-block responsive" alt="..." preload="auto">
        </div>
        <div class="carousel-item">
          <img src="./assets/2-B79A5632.jpg" class="d-block responsive" alt="..." preload="auto">
        </div>
        <div class="carousel-item">
          <img src="./assets/3-B79A5648.jpg" class="d-block responsive" alt="..." preload="auto">
        </div>
      </div>
    </div>
  </div>
  <!-- Our steps -->
  <div
    class="centered-text-container paddingTop"
    style="justify-content: center"
  >
    <p class="centered-text">
      <b class="red" style="text-transform: uppercase"><strong>Juntos vamos abraçar maputo</strong> </b>
    </p>
  </div>

  <div class="">
    <hr class=""/>

    <div class="div-text alignTop2">
      <p class="about-text">
        "É a proposta que vos trago e é esse o caminho que gostaria de trilhar com todos vós para, conjuntamente,
        fazermos história, não só na nossa cidade como também no resto do nosso país e no continente, como um exemplo
        a seguir – transformar Maputo numa referência continental, um sonho que deve ser o guia do nosso trabalho, do
        primeiro ao último dia do nosso mandato!


        <br/>
        A nossa cidade, para além de uma riquíssima história, de uma cultura vibrante e de um povo resiliente, deve
        ser a luz que ilumina o progresso da nossa grande nação, o nosso Moçambique – não nos alheemos dessa
        responsabilidade."


      </p>
    </div>
    <hr/>
  </div>
  <!--

Integridade, Empatia e Compromisso

-->

  <div class="">
    <!--    <img-->
    <!--      src="./assets/two.jpg"-->
    <!--      alt="Nature"-->
    <!--      class="responsive responsiveTwo"-->
    <!--    />-->
    <!--    <br/>-->
    <!--    <br/>-->
    <p class="centered-text2 two">
      MANIFESTO 2023 PARA CIDADE DE MAPUTO –
      <a href="" class="dowload">DOWNLOAD PDF.</a>
    </p>
    <hr>
  </div>
  <!--Atencao!!!-->
  <div class="centered-text-container">
    <p class="centered-text"><strong>Liga-te ao Rasaque e junta-te a nossa caminhada</strong></p>

    <hr/>
  </div>
  <!--Images-->

  <section class="">
    <div class="content-wrapper">
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=676773411162897&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img src="./assets/facebook-one.jpg" alt="" class="news-card__image" preload="auto"/>
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 26, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=676773304496241&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img
          src="./assets/facebook-dois.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 26, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=675541567952748&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img
          src="./assets/facebook-tres.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 24, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=674080061432232&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
          preload="auto"
        ></a>
        <img
          src="./assets/facebook-quatro.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 20, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook<i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=673790504794521&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img src="./assets/facebook-five.jpg" alt="" class="news-card__image" preload="auto"/>
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 26, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=673790764794495&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img
          src="./assets/facebook-6.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 26, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=674079994765572&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img
          src="./assets/facebook-sete.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 24, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook <i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
      <div class="news-card">
        <a
          href="https://www.facebook.com/photo.php?fbid=676773214496250&set=pb.100064907311071.-2207520000&type=3"
          target="_blank"
          class="news-card__card-link"
        ></a>
        <img
          src="./assets/facebook-oito.jpg"
          alt=""
          class="news-card__image"
          preload="auto"
        />
        <div class="news-card__text-wrapper">
          <!--          <h2 class="news-card__title">Facebook</h2>-->
          <div class="news-card__post-date">Agosto 20, 2023</div>
          <div class="news-card__details-wrapper">
            <!--            <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>-->
            <!--            <a href="#" class="news-card__read-more">Facebook<i class="fas fa-long-arrow-alt-right"></i></a>-->
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="centralize-video">
    <br>
    <!--    <p class="centered-text">-->
    <!--      O VÍDEO QUE ESTÁ CHOCAR AFRICANOS E BRASILEIROS FALANTES DO PORTUGUÊS-->
    <!--    </p>-->
  </div>
  <div class="centralize-video">
    <p></p>
    <div class="embedPlayer">
      <div class="player">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Z-6EYfxZUH4?si=E7DKEzojrEpzOqle"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <!--  <div class="">-->
  <!--    <hr>-->
  <!--  </div>-->
  <br/>
</section>
